<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="includes" />
          <add segment="config" />
          <add segment="database" />
          <add segment="vendor" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
